body {
    margin: 0;
    padding: 0;
    background-color: rgb(252, 61, 156);
    font-family: 'Ubuntu', sans-serif;
}

nav {
    background-color: crimson;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.nav-logo {
    justify-content: left;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-active {
    transform: translateX(0%);
}

.nav-menu-btn {
    display: none;
    cursor: pointer;
}

.nav-menu-btn div {
    background-color: rgb(0, 0, 0);
    width: 25px;
    height: 3px;
    margin: 5px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.grid-item {
    background-image: none;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    border-style: solid;
    border-color: black;
}

.grid-1 {
    background-color: rgb(131, 255, 7);
    height: 92vh;
}

.grid-2 {
    background-color: rgb(214, 113, 18);
}

.grid-3 {
    background-color: rgb(0, 217, 255);
}

.grid-4 {
    background-color: rgb(255, 0, 0);
}

@media screen and (max-width: 1024px){
    .nav-links {
        width: 30%;
    }
}

@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        height: 93vh;
        top: 6vh;
        right: 0px;
        background-color: crimson;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-menu-btn {
        display: block;
    }
}